{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="my_container">

    <img src="{% static  'img/img2.png' %}" alt="banner" width="700px">
    <h1 class="centered">About Us</h1>
    <span class="solid"></span>


    <p class="p1"> <br>
    <br>
<b>NINE THIRTY</b> was born, raised and made with love in Kochi. Founded in 2013<br> <b>NINE THIRTY </b>has evolved from a basic idea of giving the youth wallet friendly <br>and the best quality product to keep up with the dynamic trends.</p>
</div>
    <h1 style="text-align:center;">Start at Nine Thirty</h1>
<span class="solid1"></span>
<br>
<p>
<b>NINE THIRTY</b> was the time for us to start from home to school, then growing up to college and then to office. and as they said, if you start at <b>NINE THIRTY</b>, you <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;will never be late and its never late to start with NINE THIRTY</p>
<br>
<br>
<div class="row">

     <div class="col-12 col-sm-4 col-lg-3 text-center mb-4 mb-lg-0">
       <i class='fas fa-snowflake fa-4x color-orange'> </i>
        <br>

       <h4 class="my-3">Shipping All Over India</h4>
         <p class="my-3">We ship to every pincode in india</p>

    </div>

    <div class="col-12 col-sm-4 col-lg-3 text-center mb-4 mb-lg-0">
    &emsp;&emsp;&emsp;  <i class='fab fa-gg fa-4x color-orange'></i>
          <h4 class="my-3">Best Offers</h4>
         <p class="my-3">We provide the best products at least price</p>

</div>
<div class="col-12 col-sm-4 col-lg-3 text-center mb-4 mb-lg-0">
   <i aria-hidden="true" class="far fa-hand-paper fa-4x color-orange"></i>
    <h4 class="my-3">Secure Payments</h4>
         <p class="my-3">We thrive to provide all security measures to protect customers’ privacy, data and the money involved</p>
    </div>
   <div class="col-12 col-sm-4 col-lg-3 text-center mb-4 mb-lg-0">
    <i aria-hidden="true" class="fab fa-codepen fa-4x color-orange"></i>
    <h4 class="my-3">Easy Return Policy</h4>
    <p class="my-3">Easy return available</p>
    </div>

    </div>
<section class="header">

    <h2>Get Best Offers On Selected Designs!</h2>
    <BUTTON class="btn white">GET STARTED <i class="fa fa-angle-right" aria-hidden="true"></i></BUTTON>

</section>
<div class="row">

    <div  class="sm-6">
     <div class="container">
         <h3>What we have here in NINE <br> THIRTY is</h3>
         <ul>
             <br>

          <li> <i class="fab fa-gratipay color-orange" aria-hidden="true">  </i> Crew Neck Basic</li><br>
              <li> <i class="fab fa-gratipay color-orange" aria-hidden="true">  </i> Crew Neck Printed</li><br>
               <li> <i class="fab fa-gratipay color-orange" aria-hidden="true">  </i> Neon Series</li><br>
               <li> <i class="fab fa-gratipay color-orange" aria-hidden="true">  </i>Glow In Dark Series</li><br>
               <li> <i class="fab fa-gratipay color-orange" aria-hidden="true">  </i> Rock Band Series</li><br>
         </ul>
    </div>


</div>
</div>

{% endblock %}