{% load static %}
<div class="footer">
<div class="row">
     <div class="col-sm-4 ">
        <h2>Quick Links</h2>
         <a href=""  class="my-3"style="color:white;" >Know More About Us</a><br>
         <a href=""  class="my-3"style="color:white;">Visit Store</a><br>
         <a href=""  class="my-3"style="color:white;">Let's Connect</a>
         </div>
    <div class=" col-sm-4 ">
        <img src="{% static 'img/l1.png' %}"  class="my-3"  alt="logo" style="width:100;">
        <br>
        <a href="https://www.facebook.com/nine30clothing"><img src="{% static 'img/fb3.png' %}" class="my-3" alt="logo" ></a>
        <a href="https://www.instagram.com/nine_thirty_clothing/"><img src="{% static 'img/insta.jpeg' %}" class="my-3" alt="logo" ></a>
        <a href="#"><img src="{% static 'img/twit1.jpeg' %}" class="my-3" alt="logo" ></a>
        <a href="#"><img src="{% static 'img/in1.jpeg' %}" class="my-3" alt="logo" ></a>
    </div>
    <div class=" col-sm-4 ">
<h2>Important Links</h2>
         <a href="" class="my-3" style="color:white;">Privacy Policy</a><br>
         <a href="" class="my-3" style="color:white;">Shipping Details</a><br>
         <a href="" class="my-3" style="color:white;">Terms & Conditions</a>
    </div>
</div>

<p style="text-align:center;" >Copyright © 2022 | Nine Thirty &emsp;&emsp;&emsp;Powered By <a href="http://vicorporate.com/" style="color:white;">VICORPORATE PVT LTD</a></p>




</div>